/** Public template */

body {
  background: #FFF;
  margin: 0px;
}

h1 {
  margin: 0px;
  background: #493E2B;
  text-align: center;
  padding: 0.5em;
}

h1 a {
  color: #fff;
  text-decoration: none;
}

.content {
}

.advanced {
  display: none;
}

.content form {
  padding-top: 0.5em;
}

.content dl {
 margin: 1em;
}

.content dt {
  font-size: 120%;
}

.content dd {
  width: 99%;
  margin: 0px;
}

.advanced dt, .advanced dd {
  display: inline;
}

.content input[type=text], .content input[type=password], .content input[type=submit] {
  width: 100%;
  font-size: 120%;
}

.content input[type=text], .content input[type=password] {
  border: 1px groove #ccc;
}

.content input[type=submit] {
  padding: 0.5em;
}

.content dd.buttons {
  width: 100%;
}

.results {
  clear: both;
  padding: 1em;
  text-align: center;
  font-size: 150%;
  color: green;
  background-color: #ff9;
}

.er {
  color: yellow;
}
